@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic-sc', sans-serif;
  box-sizing: border-box;
  text-align: center;
}


html {
  min-height: 100vh;
  font-family:'Amatic-sc', sans-serif;
}

body {
  margin: 0;
  background-image: url('../images/background-sky.jpg');
}

.page-title {
  color: #ff5100;
  font-family: 'Amatic-sc', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}
/* https://stackoverflow.com/questions/47319464/make-a-grid-column-span-the-entire-row */
.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #FFBB89;
  font-size: 2em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transform: scale(1);
  transform-style: preserve-3d;
}
/* need to fix bug of border showing properly change seudo class to active instead to give a zoom effect*/
.memory-card:active {
  /* box-shadow: inset 2px 2px 2px 10px white; */
  /* box-sizing: border-box; */
  transform: scale(.95);
  transition: transform .3s;
} 

.memory-card.flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
  
}

.card-front {
  transform: rotateY(180deg);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.hero-btn {
  border: 1px solid #ff5100;
  background: #ff5100;
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

.game-over-message {
  text-transform: uppercase;
  background-color: #ff5100;
  border: 1px solid #ff5100;
  color: #fff;
  margin: 0 15px 10px 15px;
  border-radius: 8px;
  text-shadow: 2px 3px 2px #000;
}