@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');

/* basic styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  body {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    font-family: 'Amatic-sc', sans-serif;
    background-image: url('../images/background-sky.jpg');
  }

  h1 {
    font-size:'Amatic-sc', sans-serif;
    color:cornsilk;
    text-transform: uppercase;
    text-align:center;
    margin:10px;
    display: block
  }


.header { 
  text-align: center;
  border-radius: 20px;
  border: 5px solid #2376b9;
  margin: 50px;
  width: 100%;
  padding: 20px;
}

  .memory-game {
    width: 89vh;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    position:relative;
    top:200px;
  }

  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);   
  }

  .memory-card:active {
    transform: scale(.95);
    transition: transform .2s;

  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background: #2376b9;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
 