@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
  box-sizing: border-box;
  text-align: center;
}

html {
  min-height: 100vh;
  }

body {
  margin: 0;
  background-image: url('../images/background-sky.jpg');
}

.page-title {
  color: #ff5100;
  font-family: 'Permanent Marker', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

/* https://stackoverflow.com/questions/47319464/make-a-grid-column-span-the-entire-row */
.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.game-info {
  color: #FFBB89;
  font-size: 2em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 1000px; /* to create a 3D flip effect -adapted from https://marina-ferreira.github.io/tutorials/js/memory-game/ */
  
}

.memory-card {
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transform: scale(1);
  transform-style: preserve-3d;/* to position the cards in the 3d space created -adapted from https://marina-ferreira.github.io/tutorials/js/memory-game/ */
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #2376b9;
  border-radius: 12px;
  border-width: 1px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #ff5100;
  padding: 12px 34px;
  font-size: 20px;
  background: #ff5100;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 1s;
}

.hero-btn:hover {
  border: 1px solid #2376b9;
  background: #2376b9;
  color: #0d0d2f;
  text-decoration: none;
  transition: 1s;
}

/* game-over modal */

.modal {
  /*Hidden by default */
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

p{
  font-size: 120%;
}

/* Modal Content Box */

.modal-content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 200px 150px;
  border: 0.8em solid #2376b9;
  padding: 20px 40px;
  border-radius: 20px;
}

/* The Close Button */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/align-self */

.close {
  align-self: flex-end;
  color: #28e;
  font-size: 5em;
}

.close:hover,
.close:focus {
  color: #5cf;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Image*/

.modal-img {
  display: inline-block;
  margin: 1em 0 1em;
  width: 20em;
}

/* Media Queries */
/* for extra small devices */
@media only screen and (max-width: 600px) { 
  .modal-content {
    margin: 80px 40px;
  }
  .modal-img {
    width: 10em;
  }

  p{
    font-size: 16px;
  }
  
.close {
  font-size: 2.5em;
  padding-bottom: 20px;
}

.page-title {
  margin: 20px;
  font-size: 2.5em;
}

.game-info-container {
  padding: 0 15px;
  font-size: 10px;
  }

.game-container {
  display: grid;
  width: 100vw;
  grid-gap: 5px;
}

 .memory-card { 
  height: 70px;
  width: 70px;
  text-align: center;
}

.card-front,
.card-back {
  padding: 3px;
}
}

/* media for larger screens */
@media (min-width: 1400px) {
  .modal {
      padding: 0 350px;   
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .modal-img {
    margin: 1em 0 1em;
    width: 10em;
  }
  
  .close {
    font-size: 2.5em;
    padding-bottom: 20px;
  }  
  }
  
  /* media for smaller desktop screens */
  @media (min-width: 600px) {
    .modal-content {
      padding: 20px;
      margin: 100px 200px;
    }
    
    .modal-img {
      margin: 1em 0 1em;
      width: 10em;
    }
    
    .close {
      font-size: 2.5em;
      padding-bottom: 20px;
    }
    
    }