@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');

/* basic styling */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Amatic-sc', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #060AB2;
  }
  
  .memory-game {
    width: 89vh;
    height: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  
  }

  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }

  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
  }
  
  .card-front {
    transform: rotateY(180deg);
  }