@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Josefin+Slab&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Amatic-sc', sans-serif;
  box-sizing: border-box;
  text-align: center;
}

html {
  min-height: 100vh;
  font-family:'Amatic-sc', sans-serif;
}

body {
  margin: 0;
 background-image: url('../images/background-sky.jpg'); 
}

.page-title {
  color: #ff5100;
  font-family: 'Amatic-sc', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

/* https://stackoverflow.com/questions/47319464/make-a-grid-column-span-the-entire-row */
.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #FFBB89;
  font-size: 2em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 1000px;   /* to create a 3D flip effect -adapted from https://marina-ferreira.github.io/tutorials/js/memory-game/ */
}

.memory-card {
  position: relative;
  cursor: pointer;
  height: 100px;
  width: 100px;
  transform: scale(1);
  transform-style: preserve-3d; /* to position the cards in the 3d space created -adapted from https://marina-ferreira.github.io/tutorials/js/memory-game/ */
  transition: transform .5s;
}

.memory-card:active {
  transform: scale(.97);
  transition: transform .2s;
} 

.memory-card.flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  background: #2376b9;
  border-radius: 12px;
  border-width: 1px;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;  
}

.card-front {
  transform: rotateY(180deg);
  }

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.hero-btn {
  border: 1px solid #ff5100;
  background: #ff5100;
  color: #fff;
  text-decoration: none;
  transition: 1s;
}

/* game-over modal */

.modal {
  /*Hidden by default */
  display: none; 
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px){
  .modal {
    width: 500px;
    height: 300px;
    margin-left: calc(50vh - 250px);
    margin-right: calc(50vh - 150px);
  }
}

@media only screen and (max-width: 375px){


  .page-title {
    padding-top: 10px;
    font-size: 50px;
  }
  .game-info-container {
    padding: 0 40px 0 35px;
   }

  .game-container {
    display: grid;
    width: 100vw;
   margin-left: auto;
    margin-bottom: 20px;
  }
  .modal {
    width: 400px;
    margin-top: -150px;
    margin-left: -16px; 
    height: 200vh;  

  }
  .modal-img {
    padding: 60px;
  }
}


/* Modal Content/Box */

.modal-content {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 200px auto;
  border: 0.8em solid #2376b9;
  padding: 20px 40px; 
  width: 80%;
  border-radius: 20px;
}

/* The Close Button */
 /* https://developer.mozilla.org/en-US/docs/Web/CSS/align-self */

.close {
  align-self: flex-end;
  color: #28e;
  font-size: 5em;
}

.close:hover,
.close:focus {
  color: #5cf;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Image*/

.modal-img {
  display: inline-block;
  margin: 1em 0 1em;
  width: 20em;
}

